body {
  font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
  margin: 0 100px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  z-index: -10;
  background-color: purple;
}

nav li {
  display: inline;
  list-style: none;
  padding: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a, button {
  text-transform: uppercase;
}

h1 {
  text-indent: -9999px;
  margin: 0;
}

h2 {
  color: white;
}

.hero-div {
  padding: 50px;
}

.hero-div p {
  color: lightgrey;
}

button {
  color: white;
  font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
  background-color: orange;
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
}

button:hover {
  text-decoration: underline;
}
